---
#
#
#   Configures block device at `/dev/sdb` for Longhorn (https://longhorn.io)
#
#     - Requires role: `ansible-galaxy install mrlesmithjr.manage-lvm`
#

- hosts: all

  vars:
    lvm_groups:
      - vgname: 'longhorn-vg'
        disks:
          - /dev/sdb
        create: true  # false to remove vg
        lvnames:
          - lvname: 'longhorn-lv'
            size: '100%FREE'
            create: true    # false to remove lv
            filesystem: ext4
            mount: true
            mntp: '/var/lib/longhorn'
            mopts: 'defaults,noatime,nobarrier'
    manage_lvm: true
    


  pre_tasks:
    - name: Check if manage-lvm role is present
      ansible.builtin.stat:
        path: "{{ playbook_dir }}/roles/mrlesmithjr.manage-lvm"
      register: lvm_role

    - name: Install manage-lvm role if not present
      ansible.builtin.command:
        cmd: "ansible-galaxy install mrlesmithjr.manage-lvm"
      when: not lvm_role.stat.exists
      changed_when: true
      delegate_to: localhost

  tasks:
    - name: Include lvm
      ansible.builtin.include_role:
        name: mrlesmithjr.manage-lvm
